body {
    background-image: url(./img/main-bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

#headcontainer {
    display: flex;
}

#headcontainer img {
    display: none;
}

.header {
    margin: auto;
    font-weight: bolder;
    color: white;
    font-size: x-large;
    flex-direction: row;
}

#middlecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
    width: 100vw!important;
}

.your {
    order: 0;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    color: white;
    margin-bottom: 0;
}

.othertxt {
    order: 1;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: -10px;
}

#go {
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    color: black;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.arrow {
    text-align: center;
    margin: 15%;
    font-weight: 900;
}

.midtext {
    margin: 30vh 0 30vh 0;
}

#headercontainer img {
    display: none;
}
